@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url('../fonts/montserrat-v14-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin_cyrillic-500.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Montserrat';
    font-size: 14px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(139, 139, 139);
    transition-duration: .2s;
}

.btn-outline-dark {
    color: #fff;
    border-color: #fff;
}

.btn-outline-dark:hover {
    color: #fff;
    border-color: rgb(139, 139, 139);
}

.logo {
    width: 50px;
}

.dropdown-menu {
    background-color: black;
}

.dropdown-item {
    color: white;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: rgb(139, 139, 139);
    color: black;
    transition-duration: .2s;
}

.nav-link {
    margin-right: 10px;
}